################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OBLIGATORIO_1
/cmake-build-debug
CMakeLists.txt
OBLIGATORIO1.zip